name: Build and push :main docker image

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: docker/login-action@v3
       with:
         username: ${{ secrets.DOCKERHUB_USERNAME }}
         password: ${{ secrets.DOCKERHUB_TOKEN }}

     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - uses: docker/setup-buildx-action@v3
       with:
         platforms: linux/armhf,linux/arm64,linux/amd64

     - name: build and push multiplatform docker image
       env:
         OWNER: ${{ secrets.DOCKERHUB_USERNAME }}
       run: |
         (cd docker && ./build-release-images.sh main)

